@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

:root {
    --error-color: #dc3545;
    --success-color: #28a745;
    --warning-color: #ffc107;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* na me do am */
/* #loading {
    height: 200px;
    left: 50%;
    margin: -100px 0 0 -100px;
    position: absolute;
    top: 50%;
    width: 200px;
  }
  
  #preloader {
    background: #fff none repeat scroll 0 0;
    bottom: 0;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
  }
  .loader {
    display: flex;
    align-items: center;
  }
  .bar {
    display: inline-block;
    width: 30px;
    height: 47px;
    background-color: rgba(62, 14, 150, 0.5);
    border-radius: 300px;
    animation: sca
    le-up 1s linear infinite;
  }
  .bar:nth-last-child(2) {
    height: 35px;
    margin: 0 5px;
    animation-delay: 0.25s;
  }
  
  @keyframes scale-up {
    20% {
      background-color: rgb(45, 28, 139);
      transform: scaleY(2);
    }
  } */
  /* na me do am  */

body {
    background-image: url("./assets/images/tech.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    /* background-color:#accef1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}
h1{
color: #0e4c8fd0;
font-family:Georgia, 'Times New Roman', Times, serif;
}

.container {
    background-color: rgb(189, 171, 171);
    padding: 2em;
    border-radius: 6px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    width: 400px;
    height: 400px;
}

.form {
    padding: 10px 20px;
}

.form h1 {
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 20px;

}

.form-field {
    margin-bottom: 5px;

}

.form-field label {
    display: block;
    color: #777;
    margin-bottom: 5px;
}

.form-field input {
    border: solid 2px #f0f0f0;
    border-radius: 3px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    display: block;
    width: 100%;
}

.form-field input:focus {
    outline: none;
}

.form-field.error input {
    border-color: var(--error-color);
}

.form-field.success input {
    border-color: var(--success-color);
}


.form-field small {
    color: var(--error-color);
}


/* button */
.btn {
    width: 100%;
    padding: 3%;
    background: rgb(30, 30, 95);
    border-bottom: 2px solid #0e4c8fd0;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    color: #fff;
    text-transform: uppercase;
}

.btn:hover {
    background: #0069d9;
    cursor: pointer;
}

.btn:focus {
    outline: none;
}


  /* preloader */
  .container{
    display: none;
  }
  
  #loader{
       height: 100vh;
       width: 100vw;
       overflow: hidden;
       background-color: #16181e;
       position: absolute;
  }

  .loader>div{
    height: 100px;
    width: 100px;
    border: 15px solid #45474b;
    border-top-color:#2a88e6;
    position: absolute;
    margin:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    animation: spin 1.5s infinite linear;
  }
  
@keyframes spin{
  100%{
    transform:rotate(360deg);
  }
}